html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.underline {
  font-size: 3rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid grey;
}

.css-center {
  font-size: 3rem;
}

.clock {
  font-size: 800%;
  font-weight: 600;
  text-align: center;
}

.dDay,
.greeting {
  font-size: 200%;
  font-weight: 600;
  text-align: center;
}

.todoContainer {
  text-align: center;
  margin-top: 10%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 7%;
}

.toDo {
  text-align: center;
  margin-bottom: 2%;
  font-size: 1.2rem;
  font-weight: 600;
}

.todoList {
  margin-left: 20%;
  list-style: none;
  text-align: justify;
}

.todoContainer input {
  font-size: 1rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid grey;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
